# vim: set ft=sh:

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias cl="clear"
alias hi="history"
alias im="whoami"

# ssh!

# for `ls` (BSD, OSX)
export CLICOLOR=1
export LSCOLORS=gxfxcxdxbxegedabagacad

# for `ls` (GNU coreutils, homebrew)
# Always use color output for `ls`
if type dircolors >/dev/null 2>&1; then
  export LS_OPTIONS='--color=auto --file-type'
  eval `dircolors ~/.dircolors.256dark`
fi

alias ls='ls $LS_OPTIONS -F'
alias ll='ls $LS_OPTIONS -lF'
alias l='ls $LS_OPTIONS -lAF'

# List all files colorized in long format, including dot files
alias la="ls -Gla"

# List only directories
alias lsd='ls -l | grep "^d"'

# Colored `greq` output
export GREP_OPTIONS='--color=auto'

# `cat` with beautiful colors. requires Pygments installed.
#   sudo easy_install Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# images must install imagemagick
alias imginfo="identify -format '-- %f -- \nType: %m\nSize: %b bytes\nResolution: %wpx x %hpx\nColors: %k'"
alias imgres="identify -format '%f: %wpx x %hpx'"

# GIT STUFF

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias localip="ipconfig getifaddr en0"

# Finding port for all running services on Mac
alias listen="lsof -i -s TCP:listen"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# download website
alias wgetwebsite="wget -m -k -K -E "

# curl -O
alias curlO="curl -O "

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done

# test google public DNS servers
alias gdns="/usr/sbin/traceroute -n -w 2 -q 2 -m 30 8.8.8.8"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# ldd for MacOSX
alias ldd="otool -L"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# volume
#http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 10'"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# Canonical hex dump; some systems have this symlinked
type -t hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null || alias md5sum="md5"

# Trim new lines and copy to clipboard
alias cc="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# stat
alias statchmod="stat -c '%A %a %n' *"

# File size
alias fs="stat -f \"%z bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"


# Development
# mysql
alias mysql-login="mysql -uroot -pFuusah7"
alias mysql-exfe="mysql -uroot -pFuusah7 exfe_dev"
alias mysql-up="mysql.server start"
alias mysql-down="mysql.server stop"

# pgsql
alias pgsql-login="psql -d postgres"
alias pgsql-up="/usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgsql-down="pg_ctl -D /usr/local/var/postgres stop -s -m fast"

# nginx
alias nginx-up="sudo nginx"
alias nginx-down="sudo nginx -s stop"

# redis
alias redis-up="redis-server /usr/local/etc/redis.conf"
alias redis-down="killall redis-server"

# lighttpd
alias lighttpd-up="sudo lighttpd -f $DEVELOP_VD/lighttpd/config/lighttpd.conf.back"
alias lighttpd-down="killall lighttpd"

# php-fpm
alias phpfpm-up="php-fpm > /dev/null 2>&1"
alias phpfpm-down="killall php-fpm"

# mongodb
alias mongodb-up="mongod -f /dev/null &"
alias mongodb-down="killall mongod"

# Sublime Text 2
alias sublime="$HOME/Apps/Sublime\ Text\ 2.app/Contents/SharedSupport/bin/subl -w"
