[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	ui = auto
[format]
	pretty = oneline
[diff]
	tool = gvimdiff
[difftool]
	prompt = gvimdiff
[alias]
    cl = clone
	co = checkout
	ci = commit -m
	br = branch
	st = status
	last = log -1 HEAD
	mg = merge
	df = difftool
