[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/prettyprint"]
	path = vim/bundle/prettyprint
	url = git://github.com/thinca/vim-prettyprint.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/jellx"]
	path = vim/bundle/jellx
	url = git://github.com/guns/jellyx.vim.git
[submodule "vim/bundle/xoria256"]
	path = vim/bundle/xoria256
	url = git://github.com/guns/xoria256.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = git://github.com/vim-scripts/jade.vim.git
[submodule "vim/bundle/blackboard"]
	path = vim/bundle/blackboard
	url = git://github.com/nelstrom/vim-blackboard.git
[submodule "vim/bundle/mac-classic"]
	path = vim/bundle/mac-classic
	url = git://github.com/nelstrom/vim-mac-classic-theme.git
