[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[format]
	pretty = "%h %ad | %s%d [%an]" --graph --date=short
[diff]
	tool = gvimdiff
[difftool]
	prompt = gvimdiff
[alias]
    cl = clone
	co = checkout
	ci = commit -m
	br = branch
	st = status
	last = log -1 HEAD
	mg = merge
	df = difftool
