[core]
    editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
    diff = auto
[format]
    pretty = " %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %an"

[diff]
	tool = gvimdiff
[difftool]
	prompt = gvimdiff
[alias]
    cl = clone
	co = checkout
	ci = commit -m
	br = branch
	st = status
	last = log -1 HEAD
    sb = status -sb
	df = difftool
    lg = log --graph --pretty=format:'%an: %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[user]
	name = cfddream
	email = cfddream@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Users/cfd/Apps/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
